.pageStyle{
    width:80%;
    margin:30px auto;
}
.navStyle{
    width:180px;
    float:left;
}
.navStyle li a{
    height:150px;
    text-align:center;
    line-height: 150px;
}
.olStyle{
    margin-left:180px;
    height:80px;
}
.content{
    margin-left:180px;
    margin-top:100px;
}
.search-box{
    height: 40px;
    text-align: right;
    padding-right: 13px;
}