<h1 style="text-align:center;">这是Page2</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Satus</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list2">
                <td>{{item.name}}</td>
                <td> {{item.title}}</td>
                <td>{{item.status | changeStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <ul>
        <li ng-repeat="item in parentNav">{{item.name+"222222"}}</li>
    </ul>
</div>
<h3>data in Page2Controller: {{data.name}}</h3>
<input type="text" ng-model="data.name"><br><br>
<label>child2:<input type="text" ng-model="child"></label>