<h1 style="text-align:center;">这是Page1</h1>
<div class="search-box">
    <label class="label-control">
        <input type="text" name="search" placeholder="search..." ng-model="searchTxt">
    </label>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Title</th>
                <th>Satus</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list | filter : searchTxt">
                <td><input type="checkbox" ng-model="item.status"/></td>
                <td>{{item.name}}</td>
                <td> {{item.title}}</td>
                <td>{{item.status | changeStatus}}</td>
                <!-- <checkboxSelect changechecked="changechecked()"></checkboxSelect> -->
            </tr>
        </tbody>
    </table>
</div>
<div>
    <ul>
        <li ng-repeat="item in parentNav">{{item.name}}</li>
    </ul>
</div>
<h3>data in Page1Controller: {{data.name}}</h3>
<input type="text" ng-model="data.name"><br><br>
<label>child1:<input type="text" ng-model="child"></label>